{% extends 'main.html' %}
{% block content%}

{% if recipes==[] %}
<H2 class="text-left"> You dont have any recipes yet, what do you think about to <button type="button" class="btn btn-warning">  <a href="/add_recipe" >add one</a> </button> ? </H2>

{% else %}
<H2 class="text-left"> Here are your recipes: </H2>

{% endif %}

<br>
{% for r in recipes %}
<div id="accordion">

        <!-- Foldable title of recipe -->
        <div class="card">
                <div class="card-header btn btn-link" id="headingOne" data-toggle="collapse" data-target="#A{{r._id}}"
                        aria-expanded="true" aria-controls="collapseOne">
                        
                        <h5> {{r['recipe-name']}} </h5>
                        <form method="POST">
                        <div class='settings'>
                                
                                  <!-- Delete button trigger modal -->
                                  <button  type="button"  class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#A{{r._id }}">
                                                Delete
                                        </button>
                                        
                                {% if r['published']=='publish' %}
                                <!-- <div class="float-right" data-toggle="tooltip" data-placement="top" title="This recepie is published, that mean you and other users can see it on main page. Click the button again to change it do draft."> -->
                                <button action="submit" class="btn btn-success btn-sm" value="{{r._id }}" name="publish"> Published!</button>
                                <input type="hidden" name="stage" value="draft"> </span>
                                <br>
                                <!-- </div> -->
                                {% else %}
                                <!-- <div class="float-right" data-toggle="tooltip" data-placement="top" title="This recepie is draft mode, that mean only you can see it. Click the button again to change it to published."> -->
                                <input type="hidden" name="stage" value="publish">
                                <button action="submit" class="btn btn-secondary btn-sm" value="{{r._id }}" name="publish">  Draft</button>
                                <br>
                                <!-- </div> -->
                                {% endif %}
                        
                              
                        </div>
                </form>        
                        </button>
                </div>
        </div>
        {% include 'modals.html' %}

     
        <!-- Content of the edited recipe -->
  
        <div id="A{{r._id}}" class="collapse {%if loop.index==1 %} show {%endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body-color">
                        <div class="card text-center">
                                <div class="card-header " data-placement="top" >
                                        <div class="row">
                                                
                                                <div class="col">
                                                                {%if loop.index==1 %}            <div data-toggle="tooltip" data-placement="bottom" title="Click to edit Cuisine"> {%endif %}
                                                                <!-- Triger button for modal Cuisine -> modals.html -> cuisine  -->
                                                                <button type="button" class="invisible-btn" data-toggle="modal" data-target="#cCuisine{{r._id }}">
                                                                        Cuisine:
                                                                        
                                                                        {%for element in r['cuisine']%}
                                                                        <span class="badge badge-info"> {{element}}
                                                                        </span>
                                                                        {%endfor%}
                                                                </button>
                                                                {%if loop.index==1 %}      </div> {%endif %}
                                                </div>
                                                
                                                <div class="col">
                                                                {%if loop.index==1 %}      <div data-toggle="tooltip" data-placement="bottom" title="Click to edit type"> {%endif %}
                                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                                <button class="invisible-btn" data-toggle="modal"
                                                                        data-target="#cType{{r._id }} ">
                                                                        Recipe Type:
                                                                        {{r['recipe-type']}}
                                                                </button>
                                                                {%if loop.index==1 %}     </div>{%endif %}
                                                </div>
                                                
                                                <div class="col">
                                                                {%if loop.index==1 %}       <div data-toggle="tooltip" data-placement="top" title="Click to edit cooking time"> {%endif %}
                                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                                <button class="invisible-btn" data-toggle="modal"
                                                                        data-target="#cTime{{r._id }}">
                                                                        Cooking time:
                                                                        <span class="badge badge-info">
                                                                                {{r['cooking-time']}}</span>
                                                                </button>
                                                                {%if loop.index==1 %}   </div> {%endif %}
                                                </div>
                                        </div>
                                </div>
                                <div class="card-body">
                                                {%if loop.index==1 %}          <div data-toggle="tooltip" data-placement="right" title="Click to edit recipe name"> {%endif %}
                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                <button class="invisible-btn" data-toggle="modal" data-target="#cName{{r._id }}">
                                                        Recipe name: </br>
                                                        <h5 class="card-title">{{r['recipe-name']}}</h5>
                                                </button>
                                                {%if loop.index==1 %}    </div> {%endif %}
                                        </br>
                                        </br>
                                        {%if loop.index==1 %}     <div data-toggle="tooltip" data-placement="bottom" title="Click to edit new ingredients">{%endif %}
                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                     <button class="invisible-btn" data-toggle="modal" data-target="#cIngredients{{r._id }}">
                                                        Ingredients: <br>
                                                        {% for ingriedient in r['ingredients'] %}
                                                        <i>{{ ingriedient}} </i> </br>
                                                        {% endfor%}
                                                             </button>
                                                        {%if loop.index==1 %}   </div> {%endif %}
                                        <br>
                                        <br>

                                        <div class="row mx-auto text-center">
                                                <div class="col-sm-12 col-md-6  ">
                                                                {%if loop.index==1 %}          <div data-toggle="tooltip" data-placement="bottom" title="Click to edit description"> {%endif %}
                                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                                <button class="invisible-btn" data-toggle="modal"
                                                                        data-target="#cDescription{{r._id }}">
                                                                        Description:
                                                                        <p class="card-text text-muted">{{r['recipe-description']}}
                                                                        </p>
                                                                </button>
                                                                {%if loop.index==1 %}      </div> {%endif %}
                                                        </br>
                                                </div>

                                                <div class="col-sm-12 col-md-6 mx-auto text-center">
                                                                {%if loop.index==1 %}     <div data-toggle="tooltip" data-placement="right" title="Click to change photo"> {%endif %}
                                                                <button class="invisible-btn" data-toggle="modal"
                                                                        data-target="#cPhoto{{r._id }}">
                                                                        <img class="card-img-top" src="{{r['image-url']}}"
                                                                                alt="Card image cap">
                                                                                {%if loop.index==1 %}     </div> {%endif %}
                                                </div>
                                                </button>
                                        </div>
                                </div>
                                <div class="card-footer text-muted">
                                        <div class="row">
                                                <div class="col">
                                                                {%if loop.index==1 %}              <div data-toggle="tooltip" data-placement="bottom" title="Click to edit Allergens">{%endif %}
                                                                <!-- Triger button for modal Cuisine -> modals.html  -->
                                                                <button class="invisible-btn" data-toggle="modal"
                                                                        data-target="#cAlergens{{r._id }}">
                                                                        <b>Allergens: </b>
                                                                        {%for element in r['alergens']%}
                                                                        <span class="badge badge-warning"> {{element}}
                                                                        </span>
                                                                        {%endfor%}
                                                                </button>
                                                                {%if loop.index==1 %}          </div> {%endif %}
                                                </div>
                                                <div class="col">
                                                        <b> Author: </b>{{r['author']}}
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <br>
        {% endfor %}

      
       
</div>        

        {% endblock content%}